*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.corpo{
    width: 1050px;
}
.header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 400px;
    background-position: top;
    
}
#logo{
    height: 100px;
    padding: 40px 0px 10px 15px
}
.main{
    margin-left: 5px;
    margin-top: 10px
}
#titolo{
    width: 60%;
}
#scrittore{
    color: #1ba6e4;
}
#titoletto{
    margin-bottom: 15px;
}
.paragrafo{
    margin-top: 10px;
    margin-bottom: 20px;
}
#lista{
    padding-left: 15px;
    margin-bottom: 20px;
}
.evidenziato{
    background-color: yellow;
}